$tickerHeight:70px;
$tickerBackgroundColor:rgba(30,30,30,0.65);

$firstRowBackgroundImage:"https://blueblots.com/wp-content/uploads/2011/12/35-seamless-wood-texture.jpg";

$mainGradient:linear-gradient(-45deg,white,#fbff87,pink);
$volumeSliderGradient:linear-gradient(90deg,#fbff87,pink);

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}
*{
  padding:0;
  margin:0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.drunk{
  animation: drunk 5s forwards 6;}
  
  // .bag,.tickerItems,.shopItem{
  //   @for $i from 1 to 10 {
  // *:nth-child(#{$i}) { animation-delay: $i * 0.5s;
  //     }};
  // }

@keyframes drunk{
  0%{
    padding-top:-5px;
  }
  33%{
    padding-left:20px;
    padding-right:0px;
    padding-top:0px;
  }
  50%{padding-top:15px;}
  66%{
    padding-left:0px;
    padding-right:20px;
  }
  99%{
    padding-top:-5px;
  }
}

.lootboxes button{
  //white-space: nowrap;
  background: linear-gradient(0deg,#ff9 0%,#fff 50%,#e92 100%);
  border: 3px solid #fff;
  border-width: 2px 2px 1px 3px;
  padding: 8px 10px 7px 8px;
  box-shadow: inset 0px 1px 3px #55e9e8,inset 0px -1px 3px #35c9c8,0px 3px 6px rgba(0,0,0,0.3);
  font-weight: 750;
  transition:opacity 0.1s;
  opacity: 0.95;
  margin-right: -4vw;
  z-index:3;
  min-width:130px;
  @include for-tablet-portrait-up {
    
  margin-right: -4vw;
  margin-left: 2vw;
  }
  @include for-tablet-landscape-up {
    
  margin-right: -7vw;
  margin-left: 3.5vw;
  }
  }
.lootboxes button:hover{
  opacity: 1;
}
.lootboxes button:active{
  opacity: 1;
  color:grey;
  filter:contrast(1.1);
  background: linear-gradient(0deg,#ff9 10%,#fff 55%,#e92 90%);
}
.reaperBox button{
  background: linear-gradient(0deg,#E43A08 0%,#FCC757 50%,#B58535 100%);
}
.reaperBox button:active{
  opacity: 1;
  filter:contrast(1.1);
  background: linear-gradient(0deg,#E43A08 10%,#FCC757 55%,#B58535 90%);
}
.menu button:hover{
  cursor:pointer;
  
}

.firstRow{
  background-image:url($firstRowBackgroundImage);
  padding:15px;
  box-shadow:0px 4px 8px #443b2b;
  position: relative;
  z-index: 2;
  width: 100vw;
  padding:30px;
  @include for-desktop-up {
    padding-left:10vw;
    padding-right:10vw;
  }
}
#bgOverlay{
  position:absolute;
  width:100vw;
  height:100vh;
  z-index:-1;
}


.yellow{
  color:yellow;
}
.menu{
  -moz-box-shadow:    inset 2 2 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0px 3px 9px #000000;
  //background-image:url($menuBackgroundImage);
  
    background-size: cover;
  border-radius:35px;
  min-height:356px;
  padding-bottom:15px;
  @include for-tablet-landscape-up {
    
  }
}
.lootboxes{
  margin:auto;
  padding-bottom:5px;
  width:94%;
  @include for-tablet-portrait-up {
    /*margin-left:8%;
    margin-right:8%;*/
  }
}
.menu .col-sm-1{
  
  @include for-tablet-landscape-up {
    display:inline-block;
  }
}
// .menuFrame{
//   background-image:url($menuFrameBackgroundImage);
//   padding:10px;
//   border-radius:0%;
// }
.menuHeader{
  background: rgba(40,40,40,0.8);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin-bottom:4px;
} 
.menuHeader h3,.menuHeader h2{
  padding-top:8px;
}

.bag{
    position: relative;
    z-index: 14;
  // background-color:$bagBackgroundColor;
  // min-height:254.176px;
  //min-height:750px;
  min-height:32vh;
  //background-image:url(https://www.christianlong.design/assets/codepen/lootboxgame/menuBg3.jpg);
  

  background-size: 24%;
  background-position-y: 55%;
  width:100vw;
  margin:auto;
  /*margin-left:-25vw;*/
  z-index: 10;
    padding-top:20px;
    padding-bottom:20px;

  
}
.bagContainer{
background-image:url(https://i.imgur.com/cpNYMAp.jpg);
  overflow: hidden;
  @include for-desktop-up {
    transform: rotateX(40deg) rotateY(9.5deg) rotateZ(-8deg);
    transform-origin: bottom;
    padding-top: 190px;
    margin-left: -5.5vw;
    padding-bottom: 150px;
    margin-top: -350px;
    min-width: 120vw;
  }
}
.bagContainer:before{
  content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    
    pointer-events: none;
    background: linear-gradient(125deg,transparent, rgba(20,20,20,0.35) 50%, transparent 65%,transparent 75%,rgba(30,20,20,0.23) 70%);
    @include for-tablet-landscape-up{

    background: linear-gradient(125deg,transparent, rgba(20,20,20,0.35) 45%, transparent 60%,transparent 70%,rgba(30,20,20,0.23) 70%);
    }
    @include for-desktop-up {
    background: linear-gradient(125deg,transparent, rgba(20,20,20,0.35) 18%, transparent 30%,transparent 40%,rgba(30,20,20,0.23) 70%);
  }
  }
.ticker{
  @include for-tablet-landscape-up {
    border-top-right-radius:5px;
    border-bottom-right-radius:5px; 
  }
  
  background-color:$tickerBackgroundColor;
  height:$tickerHeight;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space:nowrap;
  padding:0;
}
.ticker .col-sm-8{
  
}
.tickerItems{
  box-shadow:2px 0px 17px #fff;
  display:inline-block;
  width:60px;
  background-color:black;
  border-left:2px solid white;
  margin-left:0px;
  padding:0;
  margin:0;
  height:300px;
  min-width:80px;
  text-align:center;
  vertical-align:top;
}
.tickerItems p{
  color:white;
  margin-left:10px;
  font-size:12px;
  font-weight:bold;
  width:100%;
  margin-left:0;
text-align: center;}
.tickerItems img{width:41px;height:41px;margin-top:-14px}
.tickerSlider{
  background-color:blue;
  // width:3600px;
  // margin-left:-3650px;
  width:0px;
  margin-left:-250px;
  height:300px;
  vertical-align:bottom;
  display:inline-block;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}
// #slider1{
//   animation-play-state:paused;
//   animation:slide 6s ease-out;
//   animation-fill-mode:forwards;
// }

#sliderDogs, #sliderGods, #sliderItems, #sliderCSGO,#sliderVehicles{
  
}
.animation{
  animation-delay:0;
  animation:slide 6s ease-out;
  animation-fill-mode:forwards;
}
.quickRollerAnimation{
  animation-delay:0;
  animation:slide 4.5s ease-out;
  animation-fill-mode:forwards;
}
.quickRollerIIAnimation{
  animation-delay:0;
  animation-play-state:paused;
  animation:slide 3s ease-out;
  animation-fill-mode:forwards;
}
.mercurysTreadsAnimation{
  animation-delay:0;
  animation-play-state:paused;
  animation:slide 2s ease-out;
  animation-fill-mode:forwards;
}
@keyframes slide{
  
  100%{transform: translateX(-5982px)}
}

.itemPicture{
  width:10%;
  
}
.tooltip{
  
}
.tickerArrow{
  /*border:2px white solid;*/
  position:absolute;
  left:50.86%;
  top:0%;
  z-index:999;
  /*color:red;*/
  width:20px;
  /*background-color:red;*/
  /*-webkit-clip-path: polygon(51% 100%, 0 0, 100% 0);
clip-path: polygon(51% 100%, 0 0, 100% 0);*/
  animation:tick 0.1s infinite;
  animation-play-state:paused;
}
@keyframes tick{
  0%{
    transform:rotate(0deg);
  }
  50%{
    transform:rotate(30deg);
  }
  100%{
    transform:rotate(0deg);
  }
}

//grade classes
.A{
  background:linear-gradient(orange,orange,#FFDB98,orange);
  border-top: 3px solid #c16400;
  text-shadow:#844400 2px 2px;
  
  background-size:120% 140%;
  img{filter: hue-rotate(150deg) saturate(1.4);
  }
}
.B{background-color:#b500af;
border-top: 3px solid #ff00cb;text-shadow:#870082 2px 2px;
  }
.C{background-color:#01b5b5;
border-top: 3px solid #00ffff;text-shadow:#008787 2px 2px;
  }
.D{background-color:#00b737;
border-top: 3px solid #00ff4c;text-shadow:green 2px 2px;
  }
.F{background-color:#494949;
border-top: 3px solid gray;text-shadow:#2d2d2d 2px 2px;
 }
.Z{
  background-color:#494949;
  border-top: 3px solid red;
  text-shadow:#2d2d2d 2px 2px;
  background: url(https://orig00.deviantart.net/982d/f/2015/126/a/7/celestia_and_sun6ex_by_equumamici-d8sf8uv.gif);
  background-position:center -200px;

  filter:hue-rotate(226deg);
}
.R{
  background-color:#494949;
  border-top: 3px solid red;
  text-shadow:#2d2d2d 2px 2px;
  background: url(https://orig00.deviantart.net/982d/f/2015/126/a/7/celestia_and_sun6ex_by_equumamici-d8sf8uv.gif);
  background-position:center -200px;
}
/*grade classes with no background color*/
.Areduced{
  border-top: 3px solid #c16400;
  }

.Breduced{
border-top: 3px solid #ff00cb;text-shadow:#370C3A 2px 2px;
  }
.Creduced{
border-top: 3px solid #00ffff;text-shadow:#115B55 2px 2px;
  }
.Dreduced{
border-top: 3px solid #00ff4c;text-shadow:#174815 2px 2px;
  }
.Freduced{
border-top: 3px solid gray;text-shadow:#2d2d2d 2px 2px;
 }
.Zreduced{
  background-color:#494949;
  border-top: 3px solid red;
  text-shadow:#2d2d2d 2px 2px;

  filter:hue-rotate(226deg);
}
.Rreduced{
  border-top: 3px solid red;
  text-shadow:#2d2d2d 2px 2px;
}
.bagItems.R:hover{
  
  animation:growBackground2 1s ease forwards 1;
}
@keyframes growBackground2{
  0%{background-position:center -200px;}
  100%{background-position:center -350px;}
}
.white{
  color:white;
}

.bagItems{
  /*transition:transform 0.15s ease;*/
  height:195px;  
  box-shadow:-1px -1px 2px black;
  animation: fall 0.35s ease-out none;
  box-shadow:-1px 3px 3px black;
}
.bagAnimation{
  animation:fall 0.35s ease-out none,intoBag .5s 1 ease;
}
@keyframes fall{
  from{
    transform:translateY(-5px) translateX(2px) rotateZ(3deg) ;
    box-shadow:-4px 7px 9px black;
  }
  to{
transform:translateY(0px) translateX(0px) rotateZ(0deg) ;
  box-shadow:-1px 3px 3px black;
  }
  }
.bagItems img{width:60px;height:60px;margin-top:-4px}
.bagItems:hover{
  animation: none;
  transform-origin: bottom right 40px;
  transition:transform 0.25s ease-out, box-shadow 0.15s ease-out;
  -webkit-perspective: 100px; /* Safari 4-8 */
    perspective: 100px;
    @include for-desktop-up{

      transform:translateY(-5px) translateX(2px) rotateZ(3deg) ;
    }
  transform:translateY(-5px);
  
  box-shadow:-4px 7px 9px black;
 
    position: relative;
    z-index: 7;
  
}
/*.bagItems:last-child{
  animation: fall 0.15s ease none,intoBag .5s 1 ease none;
}
.bagItems:last-child:hover{
  animation:intoBag .5s 1 ease none;
}*/
.bagItems div{
  pointer-events: none;
}
.bagItems:hover div{
  pointer-events: all;
  }
.bagItems:active{
 box-shadow:-1px -1px 2px black;
    perspective: 100px;
  transform:translateY(0px) translateX(0px) ;
}

@keyframes intoBag{
  0%{
    width:70px;
    transform:rotateY(90deg);
  }
  100%{     
    transform:rotateY(360deg);
  }
}
.inventory{
  transition:all 0.4s ease;
  min-height: 600px;
  padding:15px;
  padding-bottom:10px;
  text-align:left;
  width:80vw;
  overflow-x: hidden;
  background: url(https://christianlong.design/assets/codepen/lootboxgame/menuBg1.jpg);
  box-shadow: inset 0px 3px 9px #000000;
  border-top:2px solid #63412B;
  border-left:2px solid #63412B;
  border-bottom:2px solid #CB9D70;
  border-right:2px solid #CB9D70;
}

.sellButton{
  width:80%;
  background-color:#a00000;
  border:2px solid red;
  color:white;
  margin-bottom:8px;
  margin-top:-15px;

  position: relative;
  z-index: 20;
  &:hover{background-color:#ed0000;cursor:pointer;}

}
.sellAllButton{
  color:white;
  margin-bottom:8px;
  margin-top:15px;
  padding:0 15px;
  padding-top:5px;
  transition:box-shadow 0.1s;
  box-sizing:border-box;
  perspective: 1000;
  box-shadow:1px 2px 3px #111,3px 4px 12px #111;
  &:hover{cursor:pointer;margin-top:12px;margin-bottom: 11px;}
  &:active{filter:brightness(1.2);outline:1px solid yellow;margin-top:15px;margin-bottom: 8px;}
}

.cashCounter{
  float:right;
  bottom:0;
}


.App{
  min-height: 100vh;
  animation:fadeIn 1.6s forwards 1;
}
.winScreenContainer{
  text-align:center;
  padding-top:26vh;
  opacity:0;

  width:100vw;
  min-height: 100vh;
  background-size:cover;
  background-position: 50% 100%;
  animation:fadeIn 5s forwards 1;
}
.MainMenuTextContainer{
  position: fixed;
  width: 100vw;
  height: 100vh;
    /* top: 20vh; */
  z-index: 6;
  vertical-align: middle;
  text-align: center;
  pointer-events: none;
  text-shadow: 1px 1px 2px #BB76E8, 2px 2px 2px orange;
}
.MainMenuContainer{
  text-align:center;
  width:100vw;
  min-height: 100vh;
  /*Old Spacetheme css here
  background:url(https://miro.medium.com/max/10514/1*TG8yT-bltiG0FcRpx3YkRA.jpeg);
  background-size: 100vw 100vh;;
  background-position: 50% 100%;
  animation:fadeIn 0.7s cubic-bezier(0.5,0.3,0.8,1) forwards 1,zoom 20s cubic-bezier(0.2,0.5,0.8,1) forwards 1, glowStars ease 14s infinite;
  */

}
.MainMenuContainer li{
  list-style-type: none;
}
.MainMenu{
  position: absolute;
  top: 10vh;
  left: 0;
  text-align: center;

  margin:auto;
  z-index: 6;
  display:block;/*
  background-color: rgba(30,30,30,0.6);
  border:4px double purple;*/
  animation:glow ease 14s infinite;
  animation-fill-mode: forwards;

}
@keyframes glow{
  0%{text-shadow: 0px 0px 15px #ff8800;}
  15%{text-shadow: 0px 0px 13px #ffa53f;}
  23%{text-shadow: 0px 0px 18px #ffe3c4;}
  35%{text-shadow: 0px 0px 24px #a55d0b;}
  50%{text-shadow: 0px 0px 16px #ff8800;}
  60%{text-shadow: 0px 0px 10px #ff8800;}
  65%{text-shadow: 0px 0px 6px #ffa53f;}
  70%{text-shadow: 0px 0px 14px #ffe3c4;}
  75%{text-shadow: 0px 0px 18px #a55d0b;}
  100%{text-shadow: 0px 0px 15px #ff8800;}

}
.winScreenContainer h1,.MainMenuContainer h1{
  font-size:calc(2vw + 30px);
  color:#FFCD2F;
  }
.winScreenContainer h2,.MainMenuContainer h2{
  font-size:calc(2vw + 15px);
  color:#FFCD2F;
  }
.winScreenContainer h3,.MainMenuContainer h3{
  margin-top:25px;
  font-size:calc(1vw + 12px);
  color:#FEFDB5;
  }
@keyframes fadeIn{
  0%{
    filter:brightness(2.4);
    
  }
  100%{
    opacity:1;
  }
  }
  @keyframes zoom{

  0%{
    background-size: 500% 650%;
  }
  }

@keyframes glowStars{
  0%{filter:brightness(1.15);}
  15%{filter:brightness(1.13);}
  23%{filter:brightness(1.18);}
  35%{filter:brightness(1.24);}
  50%{filter:brightness(1.16);}
  60%{filter:brightness(1.10);}
  65%{filter:brightness(1.06);}
  70%{filter:brightness(1.14);}
  75%{filter:brightness(1.18);}
  100%{filter:brightness(1.15);}

}
.trashContainer{
position: absolute;
top:40%;
pointer-events: none;
}
.trash{
  opacity:0;
  animation: unhide 10s cubic-bezier(0,0.45,0.95,1) 1;
  animation-fill-mode:forwards;
  fill:lime;
  position:absolute;
  
}
@keyframes unhide{
  0%{
   transform: rotateY(90deg);
    opacity:0;
    margin-top:150%;
    padding:15px;
  }
  3%{
    opacity:1;
  }
  10%{
   transform: rotate(47deg);
     margin-top:750%;
    margin-top:0%;
    padding:145px;
  }
  25%{
   transform: rotate(47deg);
     margin-top:150%;
    opacity:1;
    padding:145px;
  }
  95%{
   transform: rotate(47deg);

    opacity:1;
  }
  100%{
   transform: rotate(47deg) rotateX(40deg);
   margin-left:0;
   margin-bottom:0;
     margin-top:150%;
    opacity:0;
    padding:145px;
  }
  
}
.notificationBox{
    position: fixed;
    z-index:39;
    bottom: 0;
    right: 0;
    padding-right:10px;
    text-align:right;
    pointer-events: none;
  .notification{
    font-size:25px;
    color:#f0ead6;
    text-shadow:0px 1px 2px #000,0px 1px 30px #fff,0px 1px 20px #fff;
    animation: fadeUp 3.75s 1;
    animation-fill-mode:forwards;
  }
}

@keyframes fadeUp{
  0%{ opacity:1;}
  80%{
    opacity:1;
  }
  100%{
    opacity:0;

  }
}

.disabled{
  
  height:100px;
  
  background-color:rgba(30,30,30,0.8);
  z-index:300;
  user-select:none;
}

.disabled:hover{
  background-color:rgba(30,30,30,0.7);
  cursor:pointer;
}
.invisible{
  display:none;
}
.boxPrice{
  color:white;
  text-align:center;
  margin-top:25px;
  font-size:38px;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
  .disabled{
    height:128px;
  }
  .boxPrice{
    margin-top:60px;
  }
}



//volume slider CSS
$primary-color: #2ecc71;
#percent{
  pointer-events:none;
}
#player {
	width: 350px;
	height: 50px;
	position: relative;
	margin: 0 auto;
	
	
	i {
		position: absolute;
		margin-top: -6px;
		color: #666;
	}
	
	i.fa-volume-down {
		margin-left: -8px;
	}
	
	i.fa-volume-up {
		margin-right: -8px;
		right: 0;
	}
}

#volume {
	position: absolute;
	left: 24px;
	margin: 0 auto;
	height: 5px;
	width: 300px;
	background: #555;
	border-radius: 15px;
	
	.ui-slider-range-min {
		height: 5px;
		width: 300px;
		position: absolute;
		background: $volumeSliderGradient;
		border: none;
		border-radius: 10px;
  	outline: none;
	}
	
	.ui-slider-handle {
		width: 20px;
  	height: 20px;
		border-radius: 20px;
  	background: pink;
  	position: absolute;
  	margin-left: -8px;
  	margin-top: -8px;
  	cursor: pointer;
  	outline: none;
	}
}
#player:hover{
  #percent{
    animation:unfade 0.25s forwards;
  }
}
#percent{
  width:100%;
  text-align:center;
  margin-bottom:-10px;
  opacity:0.3;
  animation:fade 0.25s forwards;
}
@keyframes unfade{
  to{
    opacity:1;
  }
}
@keyframes fade{
  to{
    opacity:0.2;
  }
}
.hidden{
  display:none;
}

/*p5 canvas css*/
#sketchHolder{
  position:absolute;
  width:100vw;
  min-height:1000px;
  top:0;
  left:0;
  z-index:-1;
}


body{
  //background:$mainGradient;
  background-image:url('https://blueblots.com/wp-content/uploads/2011/12/35-seamless-wood-texture.jpg');
  background-size:100% 50%;
  background-position: center;
  background-attachment:fixed;
  overflow-x: hidden;
  z-index:10;
  position:relative;
}