$shopBackgroundImage:"https://blueblots.com/wp-content/uploads/2011/12/35-seamless-wood-texture.jpg";
$shopTextColor:white;
$shopItemBgColor:rgba(193, 158, 60,0.8);
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}
.shop{
  // background-color:$shopBackgroundColor;
  // background-image:url($shopBackgroundImage);
  color:$shopTextColor;
  padding-left:0;
  padding-top:0;
  padding-right:0;
  text-align:center;
  @include for-tablet-landscape-up {
    padding-left:1vw;
    padding-right:5vw;
  }
}
.cashCounter{
  float:right;
  padding-right:20px;
  bottom:0;
}
.shop h2{
  font-family:times new roman;
  text-shadow: 0px 1px 3px grey;
  padding-bottom: 7px;
}
.shopTier1{
  color:white;
  border-bottom: 4px double orange;
}
.shopTier1money{
  color:white;
}
.shopTier2{
  color:#574317;
  border-bottom: 4px double gold;
}
.shopTier2money{
  color:#574317;
}
.shopTier3{
  color:#574317;
  border-bottom: 4px double gold;
}
#shopList li{
  list-style-type:none;
  max-height:48px;
}
.shopItem{

  background-color:$shopItemBgColor;
  border:3px outset gold;
  width:45%;
  margin:5px;
  text-align:center;
  display:inline-block;
      backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background: linear-gradient(180deg,#f1e9c4 0%,#fffce2 39%,#debf4d 45%,#fffce2 79%,#efebcf 100%);
    border-radius: 1px;
    border: 0.5px solid rgba(0%,0%,0%,0.2);
    border-width: 0.5px 0.5px 0.5px 0.5px;
    padding: 4px 10px 5px 10px;
    box-shadow: inset 0px 1px 1px rgba(0%,0%,0%,0.6), 0px 0px 5px rgba(255,255,255,1), 0px 1px 0px 3px rgba(0,0,0,0.2), inset 0px 1px 0px rgba(255,255,255,1);
    color: #574317;
    font-size: 16px;
    font-family: Helvetica Neue;
    font-weight: 900;
    font-style: normal;
}
.godUpgrade{
  color:orange;
  background:url(https://upload.wikimedia.org/wikipedia/commons/2/22/Animated_fire_by_nevit.gif);
  background-size:cover;
  border-color:#380001;
  width:95%;
  border-width:1px;
  background-size:105%;
  background-position:center -5px;
  animation: shrinkBackground forwards 2s;
  
}

.godUpgrade:hover{
  border-width:1px;
  background-size:145%;
  animation: growBackground forwards 2s;
 border-color:#A30100;
  
}
.godUpgrade:active{
 border-color:#A30100;
}
.winUpgrade{
  color:orange;
  background:url(https://media1.giphy.com/media/xUA7bdb438bTcgY0h2/giphy.gif);
  background-size:cover;
  border-color:#380001;
  width:95%;
  transition:all 7s ease;
  border-width:1px;
  background-size:105%;
  background-position:center center;

  
}
.infoIcon{
  display:inline-block;
  position: relative;
  left:25%;
  width:0px;
  height:0px;
}
.infoIcon:hover{
  cursor:help;
}
.itemDescription{
  display:inline-block;
  position: absolute;
  left:0px;
  top:0;
  height:195px;
  width:80px;
}
.winUpgrade:hover{
  border-width:1px;
  background-size:895%;
 border-color:#A30100;
  
}
.winUpgrade:active{
 border-color:#A30100;
}
@keyframes growBackground{
  0%{background-position:center -5px;}
  100%{background-position:center -150px;}
}
@keyframes shrinkBackground{
  0%{background-position:center -150px;}
  100%{background-position:center -5px;}
}
.shopItem:hover{
  filter:contrast(1.1);
  cursor:pointer;
}
.shopItem:active{
}
.hideUpgrade{
  display:none;
}
.tier1Upgrade{
  background: linear-gradient(180.5deg,#f1e9c4 0%,#fffce2 39%,#debf4d 46%,#fffce2 79%,#efebcf 100%);
}
.tier1Upgrade:active{

  border:none;
}
.tier2Upgrade{
  background: linear-gradient(180deg,#8A6E2D,#AB9000 10%,#FFD700 35%,#8A6E2D);
  text-shadow:1px 2px 1px #AB9000;
}
.tier2Upgrade:hover{
  background: linear-gradient(180deg,#8A6E2D,#AB9000 10%,#FFD700 37%,#8A6E2D);
}
.tier2Upgrade:active{
  background: linear-gradient(182deg,#8A6E2D,#AB9000 10%,#FFD700 37%,#8A6E2D);
  
  border:none;
}
.tier3Upgrade{
  background: linear-gradient(180deg,#8A6E2D,#E54207,#F29609,#8A6E2D);
  text-shadow:1px 2px 1px #AB9000;
}
.tier3Upgrade:active{
  background: linear-gradient(183deg,#8A6E2D,#AB9000,#FFD700,#8A6E2D);
}
.costLabel{
  display:inline-block;
  width:30%;
}